<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Leaf Disease Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Plant Leaf Disease Detection</h1>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required />
        <button type="submit">Upload and Diagnose</button>
      </form>
      {% if prediction %}
      <h2>Prediction: {{ prediction }}</h2>
      <h3>Confidence: {{ confidence * 100 | round(2) }}%</h3>
      <h4>Diagnosis: {{ diagnosis_info['diagnosis'] }}</h4>
      <ul>
        {% for action in diagnosis_info['actions'] %}
        <li>{{ action }}</li>
        {% endfor %}
      </ul>
      <img
        src="{{ url_for('uploaded_file', filename=image_path) }}"
        alt="Uploaded Leaf Image"
      />
      {% endif %}
    </div>
  </body>
</html>
